body {
	background-color: #47476b;
	color: white;
}
h1 {
	background-color: #57577b;
	font-weight: bold;
	text-align: center;
	font-size: 100px;
	border-radius: 15px;
	border-style: solid;
}
h2 {
	font-weight: bold;
	text-align: left;
	font-size: 30px;	
}
h3 {
	font-weight: bold;
	text-align: left;
	font-size: 25px;
}
img {
	display: block;
 	margin-left: auto;
  	margin-right: auto;
        width: 70%;
}
p {
	font-size: 20px;
}
table, td, th {
	border-collapse: collapse;
	border-style: solid;
	border-weight: 1px;
	font-size: 20px;
	padding: 6px;
	text-align: center;
}
.subtext {
	text-align: center;
}
